<% layout('boilerplate/homepage') -%>
<h1><%= title %></h1>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<% for(var i=0; i<images.length; i++) {%>
				<img style="padding: 10px" class="img-responsive" src="/images/<%= images[i] %>"/>
			<% } %>
		</div>
		<div class="col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
	</div>
</div>

