<% layout('./index/boilerplate/layout') -%>

    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>Hakkımızda</h2>
				<p class="lead">İş yerlerimiz bulunduğu bölgeler önceden sanayi için uygunken, şimdi kentsel dönüşüm sebebiyle
          <br>konutlar ve otellerle kuşatılmış durumdadır. Şehir içinde faaliyet gösteren işletmeler
        <br>çok küçük alanlarda ve sağlıksız ortamlarda, yoğun trafik ve yüksek maliyet
      <br>gibi zorluklarla mücadele ederek çalışmak durumundadırlar. Bu sebeple Avrupa Yakası mermercileri olarak
    <br>modern, günün ihtiyaçlarına cevap verebilecek bir sanayi sitesinin kurulması
  <br>kaçınılmaz hale gelmiştir. Bu amaçla 25/08/2015 tarihinde 989844 sicil numarasıyla
<br>küçük sanayi sitesi kooperatifimizi kurarak hedeflerimizi gerçekleştirmek için üyelerimizle birlikte yola çıktık.
<br>
<br>
          <br> Tam donanımlı sanayi sitesi hedefimizde sergi alanından yönetim binasına,
        <br>sağlık ocağından meslek lisesine, spor tesislerinden ibadethaneye,
      <br>tatbikatlı çıraklık okulundan öğrenci yurduna, tır parkından arıtma tesislerine kadar
    <br>her ayrıntıyı düşündük.
<br>
<br>
          <br>Amacımız şehir merkezinden uzak, ulaşımı kolay bir bölgede
        <br>sanayi sitesi kurarak meslektaşlarımızla birliktelik sağlayabilmektir.
<br>
<br>
          <br>Saygılarımızla</p>
			</div>
		</div><!--/.container-->
    </section><!--/about-us-->


