<% layout('./index/boilerplate/layout') -%>

  <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2><%=title%></h2>
               <p class="lead">Kooperatifimize üye olmuş kişiler<br>(Üye kayıtları devam etmektedir)</p>
             </div>



<div class="left">


<div style="float: left; width: 40%;">
<ul>
<li>SERDAR KELEŞ</li>
<li>VAHİDETTİN ERDEM</li>
<li>KANİ BATAL</li>
<li>ALİ İHSAN KARAKAYA</li>
<li>TAHİR GENÇ</li>
<li>GÜVEN KEÇE</li>
<li>ŞENOL YOLAÇAN</li>
<li>ERHAN ÖZTÜRK</li>
<li>BÜNYAMİN AKKAYA</li>
<li>ALTINDAL KARDEŞLER</li>
<li>ALİ ÖZKAN ÖZCAN</li>
<li>MUSTAFA ODABAŞ</li>
<li>MEHMET BAYRAK</li>
<li>KÜÇÜKALİ MERMER</li>
<li>MURAT DİVRENGİ</li>
<li>ŞAHİN MERMER İNŞ.</li>
<li>ENGİN KARAKAŞ</li>
<li>AZİZ BIYIKLI</li>
  <li>SELAMETTİN ERDEM</li>
  <li>HASAN ERDEM</li>
  <li>MEHMET UYAR</li>
  <li>ENVER SOYLU</li>
  <li>AHMET SEKBAN</li>
  <li>MUSTAFA ALTINTAŞ</li>
  <li>KAHRAMAN KELEŞ</li>
  <li>NERİMAN ÇALIŞ</li>
  <li>HÜSEYİN SAĞIROĞLU</li>
</ul>
</div>

<div style="float: left; width: 30%;">
<ul>



  <li>AYŞE YILMAZ</li>
  <li>AYŞE DUDU KARAKAYA</li>
  <li>ALİ İLHAN KARAKAYA</li>
  <li>İHSAN ARSLAN</li>
  <li>RAMAZAN KOCAGÖZ</li>
  <li>İBRAHİM ŞAHİNER</li>
  <li>EKREM ÖZBEY</li>
  <li>BAYRAM ELMAS</li>
  <li>RECEP ÖZTÜRK</li>
  <li>MUHARREM KARA</li>
  <li>MUZAFFER ABAY</li>
  <li>İSA BURMA</li>
  <li>ÖZLEM İNCE</li>
  <li>EKİN İNŞ. VE MAD.</li>
  <li>NURETTİN AYDIN</li>
  <li>MUHAMMET KARAKUŞ</li>
  <li>OĞUZHAN GENÇ</li>
  <li>RITVAN ÇIPLAK</li>
  <li>ENGİN KARAKAŞ</li>
  <li>MUSTAFA MOLLAOĞLU</li>
  <li>SEBAHATTİN KELEŞ</li>
  <li>ÖZGÜR ANIL</li>
  <li>ORHAN RECAİ YILMAZ</li>
  <li>HALİT KELEŞ</li>
  <li>PROVADİA YAPI İNŞ.</li>
  <li>HİCABİ HACIALİOĞLU</li>
  <li>BATI GURUP ALÜM. PROFİL</li>
</ul>
</div>

<div style="float: right; width: 18%;">
<ul>


  <li>HASAN TÜRKMEN</li>
  <li>CENGİZ UYAR</li>
  <li>AHMET HAŞİM SEKBAN</li>
  <li>ÖMER UZUN</li>
  <li>AHMET SARIOĞLU</li>
  <li>UZAY PERLİT MAD.</li>
  <li>LATİF ŞENOL</li>
  <li>HAVA ŞENOL</li>
  <li>HÜSEYİN ÇELİK</li>
  <li>REYHAN ÇELİK</li>
  <li>GENCAY EFE</li>
  <li>AYHAN SEVİM</li>
  <li>AYHAN SAĞIROĞLU</li>
  <li>ÖZCAN ÇELİK</li>
  <li>MARBEL MERMER GRANİT</li>
  <li>ERKAN GÜLER</li>
  <li>MEHMET SÜRMEN</li>
  <li>KERİM GÜNDOĞU</li>
  <li>BASRİ ŞENTÜRK</li>
  <li>GÜNDOĞAN TURAN</li>
  <li>HÜSEYİN SABRİ AKGÜN</li>
  <li>İDRİS DEMİRBİLEK</li>
  <li>HAYDAR BULUT</li>
  <li>BAYRAM DELEN</li>
  <li>DEK MADENCİLİK</li>



</ul>
</div>

<div/>
        </div>
    </section><!--/#portfolio-item-->
