<% layout('./index/boilerplate/layout') -%>
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2><%=subtitle1%></h2>
                </div>

            <div class="row">
                <div class="features">

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Serdar KELEŞ</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Kani BATAL</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Ali İhsan KARAKAYA</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Ömer KÜÇÜKALİ</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Ahmet SEKBAN</span></h4>
                    </div>
                </div>
           </div>

        </div><!--/.container-->
    </section><!--/#feature-->


    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
              <div class="center wow fadeInDown">
                   <h2><%=subtitle2%></h2>
                   </div>


                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Tahir GENÇ</span></h4>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/profile.png" class="img-circle" alt="">
                        <h3> </h3>
                        <h4><span>Recep ŞAHİN</span></h4>
                    </div>
                </div>


            </div>
        </div>
    </section><!--/#bottom-->
