<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">


                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">



                </div>
            </div><!--/.col-md-3-->



            <div class="col-md-3 col-sm-6">
                <div class="widget">

                </div>
            </div><!--/.col-md-3-->



            <div class="col-md-3 col-sm-6">
              <div class="container-w">
                <div class="today">
                  <i class="wi wi-lg wi-day-rain"></i>
                  <p class="day-text"> 15&deg;</p>
                  <p class="day-subtext"> 4/22&deg;</p>
                </div>
                <div class="weekly">
                  <div class="mon">
                    <i class="wi wi-sm wi-day-sunny"></i>
                    <p class="week-text">mon</p>
                    <p class="week-subtext">3/19&deg;</p>
                  </div>
                  <div class="tues">
                    <i class="wi wi-sm wi-day-rain"></i>
                    <p class="week-text">tue</p>
                    <p class="week-subtext">1/15&deg;</p>
                  </div>
                  <div class="wed">
                    <i class="wi wi-sm wi-day-rain"></i>
                    <p class="week-text">wed</p>
                    <p class="week-subtext">2/10&deg;</p>
                  </div>
                  <div class="thurs">
                    <i class="wi wi-sm wi-day-rain"></i>
                    <p class="week-text">thu</p>
                    <p class="week-subtext">4/8&deg;</p>
                  </div>
                  <div class="fri">
                    <i class="wi wi-sm wi-day-rain"></i>
                    <p class="week-text">fri</p>
                    <p class="week-subtext">3/15&deg;</p>
                  </div>
                </div>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->
