<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy;S.S DOĞAL TAŞ DEPOLAMA VE EL SANATLARI KÜÇÜK SANAYİ SİTESİ YAPI KOOPERATİFİ
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Yukarı Çık</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->