<header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/oke.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li <% if(active === 0){ %> class="active" <% } %> ><a href="/">ANA SAYFA </a></li>
                        <li <% if(active === 1){ %> class="active" <% } %> ><a href="/hakkimizda">HAKKIMIZDA</a></li>
                        <li <% if(active === 2){ %> class="active" <% } %> ><a href="/yonetim">YÖNETİM</a></li>
                        <li <% if(active === 3){ %> class="active" <% } %> ><a href="/uyeler">ÜYELER</a></li>
                        <li <% if(active === 4){ %> class="active" <% } %> ><a href="/iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
</header><!--/header-->