<!DOCTYPE html>
<html>
  <head>
  	<!-- should be title -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <%- body -%>
  </body>
</html>